{% extends "layoutAdmin.html" %}

{% block content %}

<div id="wrapper">
	<div id="featured-wrapper">
		<div class="title">
			<h2 style="float:centered">Closed Questions</h2>
		</div>
	</div>
</div>

<!--
<div id="wrapper">
	<div id="featured-wrapper">
		<h1>Closed Questions</h1>
		<a class = "button-class" href="/insertLinkHere">391</a>
		<a class = "button-class" href="/insertLinkHere">462</a>
		<table>
		<tr>
		<td><p class = "inline-label">What is the first...</td>
		<td><a class = "button" href="/viewStatistics">View</a></td>
		<td><a class = "button" href="/viewQuestion">Reopen</a></td>
		<td><a class = "button" href="/insertLinkHere">Delete</a></span></td>
		</tr>
		<tr>
		<td><p class = "inline-label">Where is the locat...</td>
		<td><a class = "button" href="/viewStatistics">View</a></td>
		<td><a class = "button" href="/viewQuestion">Reopen</a></td>
		<td><a class = "button" href="/insertLinkHere">Delete</a></span></td>
		</tr>
		</table>
	</div>
</div>
-->


{% endblock %}
