{% extends "layoutAdmin.html" %}

{% block content %}
<script language="JavaScript" type="text/javascript">

var options = [];

	function choices(select){
		var selectedOption = select.options[select.selectedIndex];
        if (selectedOption.value == "multipleChoice"){
        	document.getElementById('addchoices').style.visibility="visible";
        	document.getElementById('choices').style.visibility="visible";
        }
        else if (selectedOption.value == "shortAnswer"){
        	document.getElementById('addchoices').style.visibility="hidden";
        	document.getElementById('choices').style.visibility="hidden";
        }
        else if (selectedOption.value == "map"){
        	document.getElementById('addchoices').style.visibility="hidden";
        	document.getElementById('choices').style.visibility="hidden";
        }
	}
	
	function choicesHide(){
		document.getElementById('addchoices').style.visibility="hidden";
		document.getElementById('choices').style.visibility="hidden";
	}
	
	function addchoice(){
		var temp = document.getElementById('ChoiceToAdd').value;
		options.push(temp);
		writeChoices();
	}
	
	function writeChoices(){
		document.getElementById('allOptions').innerHTML = "</br>";
		for (var i = 0; i < window.options.length; i++){ 
			document.getElementById('allOptions').innerHTML += ("<p>" + window.options[i] + "<input class='buttonChoice' type='submit' onclick=deleteChoice(" + i + ") value='Delete'></p>");
		} 
	}
	
	function deleteChoice(index){
		window.options.splice(index,1);
		writeChoices();
	}
</script>

<div id="wrapper">
	<div id="featured-wrapper">
		<div class="extra2 container">
			<div class="ebox1">
				<div class="title">
					<h2>Create Question</h2>
					<span class="byline">Enter The Following Information</span>
				</div>
				<form action="/homeAdmin" method="POST">
					<div class="form_settings">
						<p><span>Question Type:</span>
            			<select name="questionType" size=1 onchange=choices(this)>
              				<option value="shortAnswer">Short Answer</option>
				            <option value="multipleChoice">Multiple Choice</option>
				            <option value="map">Map</option>
            			</select></p>
						<p><span>Upload Image:</span><input type="file" name="image" accept="image/*"></p>
						<p><span>Question Text:</span><textarea style="resize:none" rows="8" cols="50" name="questionText"></textarea></p>
						<p><span>Answer:</span><textarea style="resize:none" rows="8" cols="50" name="answer"></textarea></p>
					</div>
					<input class="button" type="submit" name="createQuestion" value="Create Question"/>
				</form>
			</div>		
		</div>	
	</div>
</div>


<div id="addchoices"> 
	<center>
	<div class="title">
		<h2>Add Choice</h2>
		<span class="byline">Add A Choice For The Question</span>
		<div class="form_settings">
			<p><h3>Input Choice</h3><textarea id="ChoiceToAdd" style="resize:none" rows="4" cols="50" name="choice" value=""></textarea></p>
		</div>
		<input class="button" type="submit" onclick="addchoice()" name="addChoice" value="Add Choice"/>
	</div>
	</center>
</div>

<div id="choices"> 
	<center>
	<div class="title">
		<h2>Choices</h2>
		<span class="byline">Choices For Question</span>
		<div id="allOptions">
		</div>
	</div>
	</center>
</div>


{% endblock %}
