{% extends "layoutAdmin.html" %}

{% block content %}

				<div id="wrapper">
					<div id="featured-wrapper">
						<h1>Launched Questions</h1>
						<a class = "button-big" href="/insertLinkHere">391</a>
						<a class = "button-big" href="/insertLinkHere">462</a>
						
						
						<table>
							
						</tr>
						<td><p class = "inline-label">What is the first ... Class: 391</td>
						<td><a class = "button" href="/viewQuestion">View</a></td>
						<td><a class = "button" href="/viewStatistics">Close</a></td>
						<td><a class = "button" href="/insertLinkHere">Delete</a></td>
						</tr>
						<tr>
						<td><p class = "inline-label">Where is the locat... Class: 391</td>
						<td><a class = "button" href="/viewQuestion">View</a></td>
						<td><a class = "button" href="/viewStatistics">Close</a></td>
						<td><a class = "button" href="/insertLinkHere">Delete</a></td>
						</tr>
						</table>
					</div>
				</div>


{% endblock %}
