{% extends "layoutAdmin.html" %}

{% block content %}
<div id="wrapper">
	<div id="featured-wrapper">
		<div class="extra2 container">
			<div class="ebox1">
				<div class="hexagon"><span class="icon icon-lightbulb"></span></div>
				<div class="title">
					<h2>Admin Home</h2>
					<span class="byline">Admin Home Page</span>
				</div>
				<div id="wrapper">
					<div id="featured-wrapper">
						<h1>Launched Questions</h1>
						<a class = "button-big" href="/insertLinkHere">391</a>
						<a class = "button-big" href="/insertLinkHere">462</a>
						<span><p class = "inline-label">What is the first ... Class: 391</h2><a class = "button" href="/insertLinkHere">View</a>
						<a class = "button" href="/insertLinkHere">Reopen</a>
						<a class = "button" href="/insertLinkHere">Delete</a></span>
				
						<span><p class = "inline-label">Where is the locat... Class: 391<a class = "button" href="/insertLinkHere">View</a>
						<a class = "button" href="/insertLinkHere">Close</a>
						<a class = "button" href="/insertLinkHere">Delete</a></span>
					</div>
				</div>
				<p>Admin Home Page</p>
				<a href="/homeAdmin" class="button">Admin Home</a>
			</div>		
		</div>	
	</div>
</div>

{% endblock %}
