{% extends "layoutStudent.html" %}

{% block content %}

				<div id="wrapper">
					<div id="featured-wrapper">
						<h1>Open Questions</h1>
						<a class = "button-class" href="/insertLinkHere">391</a>
						<a class = "button-class" href="/insertLinkHere">462</a>
						<table class="center">
							<tr><td><p class = "inline-label"><span>What is the first...</td><td> <a class = "button" href="/insertLinkHere">Answer</a></td></tr>
							<tr><td><p class = "inline-label"><span>Where is the locat...</td><td> <a class = "button" href="/insertLinkHere">Answer</a></td></tr>
						</table>

						
					</div>
				</div>


{% endblock %}
