{% extends "layout.html" %}

{% block content %}
<div id="wrapper">
	<div id="featured-wrapper">
		<div class="extra2 container">
			<div class="ebox1">
				<h1>Login</h1>
				<span class="byline">Enter your information</span>

				<form action="/login" method="POST">
					<div class="form_settings">
					<p><span class="login">Username:</span><input class="contact" type="text" name="username" value="" /></p>
					<p><span class="login">Password:</span><input class="contact" type="text" name="password" value="" /></p>
					</div>
					<input class="button" type="submit" name="login" value="Login"/>
				</form>				
			</div>		
		</div>	
	</div>
</div>

{% endblock %}