{% extends "layoutAdmin.html" %}

{% block content %}

<div id="wrapper">
	<div id="featured-wrapper">
		<div class="title">
			<h2 style="float:centered">Question Bank</h2>
		</div>
	</div>
</div>

<!--
<div id="wrapper">
	<div id="featured-wrapper">
		<h1>Saved Questions</h1>
		<table>
		<tr>
		<td><p class = "inline-label">What is the first...</td>
		<td><a class = "button" href="/viewQuestion">View</a></td>
		<td><a class = "button" href="/viewQuestion">Launch</a></td>
		<td><a class = "button" href="/insertLinkHere">Delete</a></td>
		</tr>
		<tr>
		<td><p class = "inline-label">Where is the locat...</td>
		<td><a class = "button" href="/viewQuestion">View</a></td>
		<td><a class = "button" href="/viewQuestion">Launch</a></td>
		<td><a class = "button" href="/insertLinkHere">Delete</a></td>
		</tr>
		</table>
	</div>
</div>
-->

{% endblock %}
