{% extends "layoutAdmin.html" %}

{% block content %}

<div id="wrapper">
	<div id="featured-wrapper">
		<div class="title">
			<h2 style="float:centered">Question Bank</h2>
		</div>

		<h1>Saved Questions</h1>
		<table>
			<h2>Short Answer Questions</h2>
				{% for question in shortAnswerQuestions %}
				{% set viewURL = "viewQuestion/SA/"+question[1]|string+"" %}
				{% set launchURL = "launchQuestion/SA/"+question[1]|string+"/1" %}<!-- need to get class-->
				{% set deleteURL = "deleteQuestion/SA/"+question[1]|string+"" %}
					<tr>
					<td><p class = "inline-label">{{question[0]}}</td>
					<td><a class = "button" href={{viewURL}}>View</a></td>
					<td><a class = "button" href={{launchURL}}>Launch</a></td>
					<td><a class = "button" href={{deleteURL}}>Delete</a></td>
					</tr>
				{% endfor %}

		</table>
			<h2>Multiple Choice Questions</h2>
				<table>
				{% for question in multipleChoiceQuestions %}
				{% set viewURL = "viewQuestion/MC/"+question[1]|string+"" %}
				{% set launchURL = "launchQuestion/MC/"+question[1]|string+"/1" %}<!-- need to get class-->
				{% set deleteURL = "deleteQuestion/MC/"+question[1]|string+"" %}
					<tr>
					<td><p class = "inline-label">{{question[0]}}</td>
					<td><a class = "button" href={{viewURL}}>View</a></td>
					<td><a class = "button" href={{launchURL}}>Launch</a></td>
					<td><a class = "button" href={{deleteURL}}>Delete</a></td>
					</tr>
					
				{% endfor %}

		</table>
			<h2>Map Selection Questions</h2>
				<table>
				{% for question in mapSelectionQuestions %}
				{% set viewURL = "viewQuestion/MS/"+question[1]|string+"" %}
				{% set launchURL = "launchQuestion/MS/"+question[1]|string+"/1" %}<!-- need to get class-->
				{% set deleteURL = "deleteQuestion/MS/"+question[1]|string+"" %}
					<tr>
					<td><p class = "inline-label">{{question[0]}}</td>
					<td><a class = "button" href={{viewURL}}>View</a></td>
					<td><a class = "button" href={{launchURL}}>Launch</a></td>
					<td><a class = "button" href={{deleteURL}}>Delete</a></td>
					</tr>

				{% endfor %}

		</table>
	</div>
</div>


{% endblock %}
