{% extends "layout.html" %}

{% block content %}
<div id="wrapper">
	<div id="featured-wrapper">
		<div class="extra2 container">
			<div class="ebox1">
				<div class="title">
					<h2>Register</h2>
					<span class="byline">Enter The Following Information</span></br>
					<span class="byline"><font color="red">{{error}}</font></span>
				</div>
				<form action="/register" method="POST">
					<div class="form_settings">
						<p><span>First Name:</span><input class="contact" type="text" name="firstName" value="" maxlength="50" required/></p>
						<p><span>Last Name:</span><input class="contact" type="text" name="lastName" value=""  maxlength="50" required/></p>
						<p><span>Username:</span><input class="contact" type="text" name="username" value="" maxlength="50"required/></p>
						<p><span>Password:</span><input class="contact" type="password" name="password1" value="" maxlength="50"required/></p>
						<p><span>Re-Enter Password:</span><input class="contact" type="password" name="password2" value="" maxlength="50"required/></p>
						<p><span>Admin Code:</span><input class="contact" type="text" name="adminCode" value="" maxlength="50"/></p>
					</div>
					<input class="button" type="submit" name="register" value="Register"/>
				</form>
			</div>		
		</div>	
	</div>
</div>

{% endblock %}