{% extends "layoutAdmin.html" %}

{% block content %}

{% if qType == "MC" %}
            <div id="wrapper">
            	<div id="featured-wrapper">
            		<h1>View Multiple Choice Question</h1>
            		<p  class = "question-text">{{questionText}}</p>
            		{% set index = 0 %}
            		{% for choice in choices %}
            		{% set index = index + 1 %}
            		<p class = "inline-label">{{choice[0]}} {% if index == correctAns|int %} (correct answer) {% endif %}
            		{% endfor %}
            		<p><a class = "button" href="/homeAdmin">Return</a>
            	
            	</div>
            </div>
            
{% endif %}
{% if qType == "SA" %}
            
            <div id="wrapper">
            	<div id="featured-wrapper">
            		<h1>View Short Answer Question</h1>
            		<p class = "question-text">{{questionText}}</p>
            		<!--<p class = "inline-label">Your Answer: Answery-->
            		{%if not correctAns == "" %}<p class = "inline-label">Correct Answer: {{correctAns}}{% endif %}
            		<span></span>
            		<p><a class = "button" href="/homeAdmin">Return</a>
            	</div>
            </div>
            
{% endif %}
{% if qType == "MS" %}
            
            <div id="wrapper">
            	<div id="featured-wrapper">
            		<h1>View Map Selection Question</h1>
            		<p class = "question-text">{{questionText}}</p>
            		<p><span><img alt="Image Not Available!"></span></p>
            		<p class = "inline-label"><span>Legend: (pending)</span>
            		<p><a class = "button" href="/homeAdmin">Return</a>
            	</div>
            </div>

{% endif %}

{% endblock %}