{% extends "layoutAdmin.html" %}

{% block content %}


            <div id="wrapper">
            	<div id="featured-wrapper">
            		<h1>View Question</h1>
            		<p  class = "question-text">What is the answer to this question that is made unecissarily long to comment on the ability of word wrap in th GUI for reasons of demonstration to show that we hopefully have good things in the works and do not mind about run-on sentences?</p>
            		<p class = "inline-label">Choice: A (Your Answer)-Correct Answer
            		<p class = "inline-label">Choice: B
            		<p><a class = "button" href="/insertLinkHere">Return</a>
            	
            	</div>
            </div>
            
            <br>
            <br>
            
            <div id="wrapper">
            	<div id="featured-wrapper">
            		<h1>View Question</h1>
            		<p class = "question-text">What is the answer to this question that is made unecissarily long to comment on the ability of word wrap in th GUI for reasons of demonstration to show that we hopefully have good things in the works and do not mind about run-on sentences?</p>
            		<p class = "inline-label">Your Answer: Answery
            		<p class = "inline-label">Correct Answer: Answera, Answere, Answeri, Answero, or Answeru
            		<span></span>
            		<p><a class = "button" href="/insertLinkHere">Return</a>
            	</div>
            </div>
            
            <br>
            <br>
            
            <div id="wrapper">
            	<div id="featured-wrapper">
            		<h1>View Question</h1>
            		<p class = "question-text">What is the answer to this question that is made unecissarily long to comment on the ability of word wrap in th GUI for reasons of demonstration to show that we hopefully have good things in the works and do not mind about run-on sentences?</p>
            		<p><span><img alt="Question Image"></span></p>
            		<p class = "inline-label"><span>Legend: (pending)</span>
            		<p><a class = "button" href="/insertLinkHere">Return</a>
            	</div>
            </div>


{% endblock %}