{% extends "layout.html" %}

{% block content %}

<div id="wrapper">
	<div id="featured-wrapper">
		<h1>Welcome to Lecture Buddy</h1>
		<br>
		<br>
		<a class = "button-big" href="/insertLinkHere">Login</a><a class = "button-big" href="/insertLinkHere">Sign Up</a>
						<h1>Login</h1>
				<span class="byline">Enter your information</span>

				<form action="/login" method="POST">
				<div class="form_settings">
				<p><span class="login">Username:</span><input class="contact" type="text" name="username" value="" /></p>
				<p><span class="login">Password:</span><input class="contact" type="text" name="password" value="" /></p>
				</div>
				<input class="button" type="submit" name="login" value="Login"/>
				</form>	
	</div>
</div>

{% endblock %}
